{
  "mongoUrl": {
    "production": "mongodb://localhost:27017/prod",
    "development": "mongodb://localhost:27017/dev",
    "test": "mongodb://localhost:27017/test"
  },
  "agencies": [{
    "agency_key": "BESTAGENCY",
    "url": "http://www.urlofbestagency.com/GTFS.zip",
    "exclude": [
      "shapes"
    ]
  },
  {
    "agency_key": "2NDBESTAGENCY",
    "path": "GTFS.zip"
  }]
}
